<div class="field" >
		<%= f.label "Kategori" %>
		<%= f.select :kategori, ["Seçiniz","deneme"]%><br/>
</div>
<div class="field" style= "position:relative;top:-76px;left:3.5in;" >
		<%= f.label "Bilgi" %>
		<%= f.select :bilgi, ["Seçiniz","Başlangıç","Orta","İyi","Çok iyi"]%><br />
		
</div>
<div class="field"  style= "position:relative;top:-155px;left:7in;">
		<%= f.label "Seviye" %>
		<%= f.select :seviye, ["Seçiniz","Başlangıç","Orta","İyi","Çok iyi"]%><br />
		
</div>
