<div class="field" >
    <%= f.label "Referans Adı" %>
	<%= f.text_field :ref_ad, :class => "boy"%><br/>
</div>
<div class="field" id="soyadboy3">
    <%= f.label "Mesleği" %>
	<%= f.text_field :ref_poz, :class => "boy" %><br />
</div>
<div class="field" >
    <%= f.label "Mail Adresi" %>
	<%= f.text_field :mail, :class => "boy" %><br />
</div>
